.nav-container{
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    margin: 2em;
    text-align: center;
    padding: 1.5em;
}


.logo{
    margin-left: 3em;
}

.logo a{
 font-size: 20px;
}

.nav-links{
    width: 35%;
}

.nav-links ul{
    display: flex;
    width: 100%;
}

.nav-links li {
    width: 100%;
    list-style: none;
    font-family: Noticia;
    color: #505050;
    font-size: 18px;
}