.home-container{
    width: 90vw;
    margin: 1em;
    display: flex;
    padding: 1em;  
}

.profile{
    padding: 2em 0 3em 4em;
    width: 40%;
}

.text{
    width: 70%;
}

.text h1{
    font-size: 5.5em;
    font-family: Aclonica;
    margin-bottom: 0.2em;
}

.text span{
    font-weight: bold;
}

.text p{
    font-size: 1.5em;
    font-family: Noticia;
    line-height: 1.5em;
    color: #505050;
}

.profile img{
    border-radius: 50%;
    border: 1px solid #505050;
    height: 90%;
    width: 90%;
}




@media screen and (max-width:1028px){
    .home-container{
        flex-direction: column; 
    }
    .text h1{
        font-size: 4.5em;
    }
    .text{
        width: 90%;
    
    }
    .profile{
        padding: 4em;
        width: 100%;
    }
    .profile img{
        border-radius: 50%;
        border: 3px solid #505050;
        height: 75%;
        width: 90%;
    }
    
    
}


@media screen and (max-width:768px){
    .text h1{
        font-size: 3.5em;
    }
    .text{
        width: 90%;
        
    }
}

@media screen and (max-width:528px){
    .text h1{
        font-size: 2.5em;
    }
    .homepage-container{
        margin: 0;
        padding: 2em;
    }
    .profile img{
        border-radius: 50%;
        border: 3px solid #505050;
        height: 90%;
        width: 100%;
    }
    .profile{
        
            padding: 3em;
            
        
    }
    
}

