.about-container{
    width: 95vw;
    /* margin: 1em; */
    display: flex;
    padding: 1em;
    flex-direction: column; 
   
}

.about-container h1{
    font-size: 3.5em;
    font-family: Lato;
}

.about-content{
    display: flex;
    
  
}

.profile{
    padding: 3em 0 3em 4em;
    width: 35%;
}

.profile img{
    border-radius: 50%;
    border: 1px solid #505050;
    height: 75%;
    width: 80%;
}

.text{
    width: 65%;
    
}

.text p{
    font-size: 1.3em;
    font-family: Lato;
    line-height: 1.5em;
    color: #505050;
}

.text-div{
    margin: 1.5em 0;
}

.text-div h3{
    font-size: 1.8em;
    margin-bottom: 0.2em;
}

.text-div span{
    font-weight: bold;
    color: #000;
}




@media screen and (max-width:1028px){
   
    .about-content{
        flex-direction: column;
        
    }

    .text{
        width: 100%;
        
    }
    
}


@media screen and (max-width:869px){
    .about-container{
        margin: 0em;
        padding: 2em;
    }
}

