* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  width: 100vw;
  font-family: 'Roboto Condensed';
  overflow-x: hidden;
}

h1 {
  font-size: 3.5em;
  
  color: #00000f;
}

h2 {
  font-size: 2em;
  color: #333;
}

h3 {
  font-size: 1.5em;
  color: #333;
}

p {
  line-height: 1.5em;
  color: #333;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3em;
    color: #1597e5;
  }

  h2 {
    font-size: 1.5em;
    color: #fff;
  }

  h3 {
    font-size: 1.2em;
  }
  p {
    font-size: 1em;
  }
}
